<div class="card-body">
    <div class="mb-3">
        <label for="sum" class="form-label">Сумма</label>
        <div class="input-group">
            <input
                value="{{ _request.sum }}"
                id="sum"
                type="number"
                name="sum"
                class="form-control {{ errors.sum ? 'is-invalid' : '' }}">
            <span class="input-group-text">₽</span>
            {% if errors.sum %}
                <div class="invalid-feedback">
                    {{ errors.sum }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="mb-3">
        <label for="term" class="form-label">Срок кредита</label>
        <div class="input-group">
            <input value="{{ _request.term }}" id="term" type="number" name="term" class="form-control {{ errors.sum ? 'is-invalid' : '' }}">
            <span class="input-group-text">месяцев</span>
            {% if errors.term %}
                <div class="invalid-feedback">
                    {{ errors.term }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="mb-3">
        <label for="pay" class="form-label">Ежемесячный платёж</label>
        <div class="input-group">
            <input id="pay" type="number" class="form-control" readonly>
            <span class="input-group-text">₽</span>
        </div>
    </div>
</div>

<script>
    const rate = 20;
    const sumInput = document.querySelector('#sum');
    const termInput = document.querySelector('#term');
    const payInput = document.querySelector('#pay');
    const monthlyRate = rate / 12 / 100;

    sumInput.addEventListener('change', () => {
        calculatePayment();
    })

    termInput.addEventListener('change', () => {
        calculatePayment();
    })

    function calculatePayment()
    {
        if (!sumInput.value || !termInput.value) {
            payInput.value = 0;
            return;
        }
        payInput.value = (sumInput.value * monthlyRate * Math.pow(1 + monthlyRate, termInput.value) / (Math.pow(1 + monthlyRate, termInput.value) -1)).toFixed(2);
    }
</script>