<div class="card-body">
    <div class="mb-3">
        <label for="sum" class="form-label">Сумма</label>
        <div class="input-group">
            <input
                value="{{ _request.sum }}"
                id="sum"
                type="number"
                name="sum"
                class="form-control {{ errors.sum ? 'is-invalid' : '' }}">
            <span class="input-group-text">₽</span>
            {% if errors.sum %}
                <div class="invalid-feedback">
                    {{ errors.sum }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="mb-3">
        <label for="term" class="form-label">Срок кредита</label>
        <div class="input-group">
            <input value="{{ _request.term }}" id="term" type="number" name="term" class="form-control {{ errors.sum ? 'is-invalid' : '' }}">
            <span class="input-group-text">месяцев</span>
            {% if errors.term %}
                <div class="invalid-feedback">
                    {{ errors.term }}
                </div>
            {% endif %}
        </div>
    </div>

    <button type="button" class="btn btn-info calculate">Рассчитать плтатежи</button>

    <div class="table-wrapper"></div>
</div>

<script>
    const sumInput = document.querySelector('#sum');
    const termInput = document.querySelector('#term');
    const tableWrapper = document.querySelector('.table-wrapper');

    document.querySelector('.calculate').addEventListener('click', async () => {
        const errorMessage = document.querySelector('.errorMessage');
        errorMessage && errorMessage.remove();
        const sum = sumInput.value;
        const term = termInput.value;

        if (!sum || !term) {
            return addError('Необходимо заполнить сумму и срок кредита')
        }

        const res = await fetch('/calculate_table', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `sum=${sum}&term=${term}`
        })

        tableWrapper.innerHTML = await res.text();
    });

    function addError(message) {
       tableWrapper.innerHTML = `<p class="text-danger errorMessage">${message}</p>`
    }
</script>